/* Custom Styles for GitHub Pages */
.button-link {
    display: inline-block;
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.button-link:hover {
    background-color: #444444;
    color: #ffffff;
}
